<div class="mt-4 row d-flex justify-content-center">
  <div class="col-md-5 col-md-offset-2">
    <div id="popDown" class="text-center alert alert-danger">Something went wrong.. try again later!</div>
  </div>
</div>
