<div class="mt-4 row d-flex justify-content-center">
  <div class="col-md-5 col-md-offset-2">
    <div id="popUp" class="text-center alert alert-notice">Your movie rating has been successfully saved!</div>
  </div>
</div>
