/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.rating {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    margin-bottom: 5px;
}

.star {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.453);
}


.active {
    color: yellow;
}

.rating>a:hover~a,
.rating:hover>a:hover {
    color: yellow;

}

.btn-custom-color {
    background: rgba(151, 223, 151, 0.649);
}